@import 'bootstrap/scss/bootstrap';

a {
    color: black;
    text-decoration: none;
}

.films_page_container {
    position: relative;
    min-height: 90vh;
    padding-bottom: 15rem;
}

.films_footer {
    position: absolute;
    left: 0%;
    bottom: 0;
    padding-bottom: 2rem;
}